<div class="box-s">
	<label> Consulta General </label>
	<label> &nbsp; &nbsp; </label>
	<mat-form-field class="comboUser">
		<mat-select [(value)]="selected" placeholder="Selecione Configuracion">
			<mat-option *ngFor="let userconf of userconfigurations" [value]="userconf">
				{{userconf.nameConf}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>


<div class="box-m">

	<div class="center">
		<mat-form-field class="comboUser">
			<mat-select [(ngModel)]="ngFiltros" placeholder="Selecione Filtros" multiple>

				<mat-select-trigger>
					{{ngFiltros?.length >= 1 ? ngFiltros[0].display : ''}}
					<span *ngIf="ngFiltros?.length > 1" class="additional-selection">
						(+{{ngFiltros.length - 1}} {{ngFiltros?.length === 2 ? 'otro' : 'otros'}})
					</span>
				</mat-select-trigger>

				<mat-option>
					<ngx-mat-select-search [formControl]="fcSearchFiltros"></ngx-mat-select-search>
				</mat-option>

				<!--mat-option *ngFor="let filter of filters" [value]="filter">
					{{filter.display}}
				</mat-option-->

				<mat-option *ngFor="let filter of filteredFiltrosMulti | async" [value]="filter">
					{{filter.display}}
				</mat-option>

			</mat-select>
		</mat-form-field>
		<label> &nbsp; &nbsp; </label>
		<mat-form-field class="comboUser">
			<mat-select [(ngModel)]="ngColumnas" placeholder="Selecione Columas" multiple>

				<mat-select-trigger>
					{{ngColumnas?.length >= 1 ? ngColumnas[0].display : ''}}
					<span *ngIf="ngColumnas?.length > 1" class="additional-selection">
						(+{{ngColumnas.length - 1}} {{ngColumnas?.length === 2 ? 'otro' : 'otros'}})
					</span>
				</mat-select-trigger>

				<mat-option>
					<ngx-mat-select-search [formControl]="fcSearchColumnas"></ngx-mat-select-search>
				</mat-option>

				<!--mat-option *ngFor="let column of columns" [value]="column">
					{{column.display}}
				</mat-option-->

				<mat-option *ngFor="let column of filteredColumnasMulti | async" [value]="column">
					{{column.display}}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<button class="boton" (click)="aplicar()">
			<span> <img [src]="'assets/check.png'" class="tamicon"> </span>
		</button>
		<label> &nbsp; &nbsp; &nbsp;</label>
		<button class="boton" (click)="guardar()">
			<span> <img [src]="'assets/save.png'" class="tamicon"> </span>
		</button>


	</div>

</div>

<div class="box-x">

	<div *ngFor="let ngf of aNgFiltros;let index = index;trackBy:utils.trackByIndex;" class="flotar-izq">

		<label *ngIf="!utils.hiddenMultiComboBox(index, filtersaux)">
			<mat-form-field class="comboFilter">
				<mat-select [(ngModel)]="aNgFiltros[index]"
					[placeholder]="'Selecione ' + utils.getPrintValue(index, filtersaux)" multiple>

					<mat-select-trigger>
						{{aNgFiltros[index]?.length >= 1 ? aNgFiltros[index][0].display : ''}}
						<span *ngIf="aNgFiltros[index]?.length > 1" class="additional-selection">
							(+{{aNgFiltros[index].length - 1}} {{aNgFiltros[index]?.length === 2 ? 'otro' : 'otros'}})
						</span>
					</mat-select-trigger>
					<mat-option>
						<ngx-mat-select-search [formControl]="aFcFiltros[index]"></ngx-mat-select-search>
					</mat-option>

					<mat-option *ngFor="let fd of aFilterDefinition" [value]="fd.object">
						{{fd.display}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<label> &nbsp; </label>
		</label>

		<label *ngIf="!utils.hiddenText(index, filtersaux)">
			<mat-form-field class="comboFilter">
				<input matInput [placeholder]="'Ingrese ' + utils.getPrintValue(index, filtersaux)"
					[(ngModel)]="aNgFiltros[index]"
					(input)="aNgFiltros[index] = utils.validateFilter($event.target.value, filtersaux[index])"
					[formControl]="aFcFiltros[index]">
			</mat-form-field>
			<label> &nbsp; </label>
		</label>

		<label *ngIf="!utils.hiddenHour(index, filtersaux)">
			<mat-form-field class="comboFilter">
				<input matInput
					[placeholder]="'Ingrese (HH:MM) ' + utils.getPrintValue(index, filtersaux) + ' de Inicio'"
					(input)="aNgFiltros[index] = utils.saveHour($event.target.value, index, 'start', filtersaux[index])">
			</mat-form-field>
			<label> &nbsp; </label>
			<mat-form-field class="comboFilter">
				<input matInput [placeholder]="'Ingrese (HH:MM) ' + utils.getPrintValue(index, filtersaux) + ' de Fin'"
					(input)="aNgFiltros[index] = utils.saveHour($event.target.value, index, 'end', filtersaux[index])">
			</mat-form-field>
			<label> &nbsp; </label>
		</label>

		<label *ngIf="!utils.hiddenDate(index, filtersaux)">
			<mat-form-field fxFlexFill class="comboFilter">
				<input matInput [matDatepicker]="pickerReminderi" [placeholder]="'Ingrese Fecha Inicio'"
					(dateChange)="utils.saveDate($event.value, index, 'start', aNgFiltros)" readonly />
				<mat-datepicker-toggle matSuffix [for]="pickerReminderi"></mat-datepicker-toggle>
				<mat-datepicker #pickerReminderi></mat-datepicker>
			</mat-form-field>
			<label> &nbsp; </label>
			<mat-form-field fxFlexFill class="comboFilter">
				<input matInput [matDatepicker]="pickerReminderf" [placeholder]="'Ingrese Fecha Fin'"
					(dateChange)="utils.saveDate($event.value, index, 'end', aNgFiltros)" readonly />
				<mat-datepicker-toggle matSuffix [for]="pickerReminderf"></mat-datepicker-toggle>
				<mat-datepicker #pickerReminderf></mat-datepicker>
			</mat-form-field>
			<label> &nbsp; </label>
		</label>

	</div>

</div>

<div class="box-boton">
	<div class="left">
		<button class="boton" (click)="getTransacciones()">
			<span> <img [src]="'assets/search.png'" class="tamicon"> </span>
		</button>
	</div>

	<div class="left">
		<button class="boton" (click)="exportAsXLSX()">
			<span> <img [src]="'assets/xlsx.png'" class="tamicon"> </span>
		</button>
	</div>
</div>

<div class="component data component-card" *ngIf="!hidden">
	<div class="mat-card">
		<mat-paginator [pageSizeOptions]="[100, 20, 50, 200]" showFirstLastButtons *ngIf="!hidden"></mat-paginator>
		<mat-table [dataSource]="dataSource" matSort class="table">

			<ng-container *ngFor="let column of columnsaux;let index = index;trackBy:utils.trackByIndex;"
				[cdkColumnDef]="column.columnDef" [sticky]="isSticky(column.columnDef)" class="container">
				<mat-header-cell *cdkHeaderCellDef class="header-cell">
					<span mat-sort-header class="sort-header">{{ column.header | uppercase }}</span>
				</mat-header-cell>
				<mat-cell *cdkCellDef="let row" class="cell">{{ column.cell(row) }}</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;" class="row"></mat-row>
		</mat-table>
	</div>
</div>