
.examplee {
	width: 950px;
	height: 1080px;
}

.example-container {
	height: auto;
	width: auto;
	overflow: auto;
}

table {
	width: 800px;
}

td.mat-column-star {
	width: 20px;
	padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
	padding-left: 8px;
}

.mat-table-sticky:first-child {
	border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
	border-left: 1px solid #e0e0e0;
}

.paginatooor {
	width: 100% !important;
}

.example-additional-selection {
	opacity: 0.75;
	font-size: 0.75em;
}

.comboUser {
	width: 150px !important;
	height: 25px !important;
	font-size: 12px !important
}

.comboFilter {
	width: 250px !important;
	height: 25px !important;
	font-size: 12px !important
}

.example-container {
	display: flex;
	flex-direction: column;
	/*min-width: 600px;*/
	height: auto;
	width: auto;
	overflow: auto;
}

.mat-table {
	overflow: auto;
	/*max-height: 800px;*/
}

.example-full-width {
	width: 250px !important;
	height: 25px !important;
	font-size: 12px !important
}






mat-paginator{
	width:97vw;
}


.data {
	display: block;
	width: 95vw;
	overflow: auto;

	.table {
		width: 100vw;
		max-width: 100%;
		overflow: auto;
		margin-bottom: 10px;
		display: table;
		border-collapse: collapse;
		margin: 0px;
		background-color: rgb(238, 238, 238);
	}
  
	.row,
	.header-row {
		display: table-row;
		min-height: 36px !important;
	}

	.cell,
	.header-cell {
		word-wrap: initial;
		display: table-cell;
        padding: 0px 5px;
		line-break: unset;
		width: fit-content;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: middle;
		text-align: center;
	}

	.header-row,
	.header-cell {
		margin: 0 auto;
		min-height: 100px !important;
		text-align: center;
		vertical-align: middle;
		align-self: center;
	}

	.sort-header {
		display: flex;
		align-content: center;
		text-align: center;
		justify-content: center;
		font-size: 12pt;
	}

	.header-cell {
		font-weight: bold;
	}
}

.mat-card {
	min-width: max-content;
	max-width: max-content;
}