.additional-selection {
	opacity: 0.75;
	font-size: 0.75em;
}

.comboUser {
	width: 150px !important;
	height: 25px !important;
	font-size: 12px !important
}

.comboFilter {
	padding-top: 10px !important;
	width: 250px !important;
	height: 25px !important;
	font-size: 12px !important
}

.centrar {
	position: absolute;
	left:28%;
	border:0px solid #808080;
	padding:8px;
	min-width: 50px;
}

.flotar-izq {
	padding-top: 10px !important;
	float: left;
}

.box-s{
	position:relative;
	display:block;
	margin:10px;
	float:left;
	min-height:35px;
	width:100%;
	/*background:#ccc;*/
}

.box-m{
	position:relative;
	display:block;
	margin:10px;
	float:left;
	min-height:80px;
	width:100%;
	/*background:#ccc;*/
}

.box-x{
	position:relative;
	display:block;
	margin:10px;
	float:left;
	min-height:125px;
	width:100%;
	/*background:#ccc;*/
}

.box-boton{
	position:relative;
	display:block;
	margin:0px;
	float:left;
	height: 25px;
	width:100%;
	/*background:#ccc;*/
}

.down {
	position:absolute;
	display:block;
	bottom:10px;
	left:10px;
	/*background:#0CF;*/
}

.center {
	position:absolute;
	display:block;
	bottom:30px;
	left:28%;
	/*background:#0CF;*/
}

.left {
	float:left;
	height:58px;
	width:58px;
	/*background:#0CF;*/
}


/*Estilos para la tabla y el paginado*/

td.mat-column-star {
	width: 20px;
	padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
	padding-left: 8px;
}

.mat-table-sticky:first-child {
	border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
	border-left: 1px solid #e0e0e0;
}

mat-paginator {
	width:97vw;
}


.data {
	display: block;
	width: 95vw;
	overflow: auto;

	.table {
		width: 100vw;
		max-width: 100%;
		overflow: auto;
		margin-bottom: 8px;
		display: table;
		border-collapse: collapse;
		margin: 0px;
		background-color: rgb(238, 238, 238);
	}
  
	.row,
	.header-row {
		display: table-row;
		min-height: 36px !important;
	}

	.cell,
	.header-cell {
		word-wrap: initial;
		display: table-cell;
        padding: 0px 5px;
		line-break: unset;
		width: fit-content;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: middle;
		text-align: center;
	}

	.header-row,
	.header-cell {
		margin: 0 auto;
		min-height: 100px !important;
		text-align: center;
		vertical-align: middle;
		align-self: center;
	}

	.sort-header {
		display: flex;
		align-content: center;
		text-align: center;
		justify-content: center;
		font-size: 9pt;
	}

	.header-cell {
		font-weight: bold;
	}
}

.mat-card {
	min-width: max-content;
	max-width: max-content;
}


/*boton buscar*/
.boton-red {
	outline:none;
	background: #fa3c3c;
	background-image: -webkit-linear-gradient(top, #fa3c3c, #b50000);
	background-image: -moz-linear-gradient(top, #fa3c3c, #b50000);
	background-image: -ms-linear-gradient(top, #fa3c3c, #b50000);
	background-image: -o-linear-gradient(top, #fa3c3c, #b50000);
	background-image: linear-gradient(to bottom, #fa3c3c, #b50000);
	-webkit-border-radius: 60;
	-moz-border-radius: 60;
	border-radius: 60px;
	font-family: Georgia;
	color: #ffffff;
	font-size: 12px;
	padding: 10px 20px 10px 20px;
	border-style: none;
}

.boton-red:hover {
	background: #fa5252;
	background-image: -webkit-linear-gradient(top, #fa5252, #d10202);
	background-image: -moz-linear-gradient(top, #fa5252, #d10202);
	background-image: -ms-linear-gradient(top, #fa5252, #d10202);
	background-image: -o-linear-gradient(top, #fa5252, #d10202);
	background-image: linear-gradient(to bottom, #fa5252, #d10202);
	text-decoration: none;
	cursor: pointer;
}

/*boton excel y buscar*/

.boton {
	outline:none;
	background: none;
	-webkit-border-radius: 60;
	-moz-border-radius: 60;
	border-radius: 60px;
	font-size: 9px;
	padding: 5px 5px 5px 5px;
	border-style: none;
	width: 20px;
	height: 20px;
}

.boton:hover {
	background: none;
	text-decoration: none;
	width: 28px;
	height: 28px;
}


.tamicon {
	width: 20px;
	height: 20px;
	margin-left: 5px;
}

.tamicon:hover{
	width: 28px;
	height: 28px;
	margin-left: 5px;
	cursor: pointer;
}


/*boton aplicar y guardar*/

.boton-1 {
	outline:none;
	background: none;
	-webkit-border-radius: 60;
	-moz-border-radius: 60;
	border-radius: 60px;
	font-size: 9px;
	padding: 5px 5px 5px 5px;
	border-style: none;
	width: 20px;
	height: 20px;
}

.boton-1:hover {
	background: none;
	text-decoration: none;
	width: 28px;
	height: 28px;
}


.tamicon-1 {
	width: 20px;
	height: 20px;
	margin-left: 5px;
}

.tamicon-1:hover{
	width: 28px;
	height: 28px;
	margin-left: 5px;
	cursor: pointer;
}